body {
	font-family: sans-serif;
}

.container {
	max-width: 1000px;
	margin: 16px auto;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 16px;
	align-items: start;
}

.card {
	padding: 16px;
	background-color: azure;
	border: 2px solid lightgray;
	border-radius: 16px;
	overflow-wrap: break-word;
}
